:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #000000;
  --header-text-color: #2196f3;
  --accent-color: #2196f3;
  --main-site-section: #2f303a;
  --ourteam-section: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
  background-color: var(--main-title-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-----------HEADER-------------*/

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-link:hover,
.header-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.header-link link.current {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.second-half-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

/*-----------HERO-------------*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.main-section-btn {
  border: none;
  border-radius: var(--main-title-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--header-text-color);
}

.main-section-btn:hover {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}
.main-section-btn:focus {
  color: var(--main-title-color);
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.portfolio-btn:focus {
  color: var(--main-title-color);
  background-color: var(--header-text-color);
}

.current-button {
  border-radius: var(--main-title-color);
  border: none;
  color: var(--main-title-color);
  background-color: var(--header-text-color);
  font-style: var(--main-title-color);
}

.main-site-section {
  background-color: var(--main-site-section);
}

.hero-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.hero-after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.about-us-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.ourteam {
  background: var(--ourteam-section);
}

.ourteam-general-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.ourteam-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.ourteam-after-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.ourteam-emp {
  background-color: var(--main-title-color);
}

/*----------FOOTER---------------*/

.footer {
  background: var(--main-site-section);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.second-half-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-second-link,
.footer-third-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-second-link:hover,
.footer-third-link:hover,
.footer-link:focus,
.footer-second-link:focus,
.footer-third-link:focus {
  color: var(--accent-color);
}

/*---------PORTFOLIO----------*/

.portfolio-btn {
  border: none;
  border-radius: var(--main-title-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.portfolio-btn:hover {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.portfolio-list-gentitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.portfolio-list-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
